//Colors
$white: #f8f9fa;
$gray-low: #e9ecef;
$gray: #adb5bd;
$black: #1f2421;

$mainColor: #1A2B3D;
$mainColor-strong: #006270;
$mainColor-low: #00e0c7;
$secondaryColor: #009394;
$secondaryColor-strong: #8294A64F;

//Fonts
$title: "Red Hat Display", serif;
$text: "Segoe UI", serif;
$special: "Handlee", cursive;

//Media querys
$phone: 468px;
$tablet: 768px;
$tablet-desktop:900px;
$desktop: 1080px;
$desktop-max: 1200px;

$separacion: 4rem;