@use 'base/variables' as v;
@use 'base/mixins' as m;

.container a {
    color: #8294A6;
    text-decoration: none;
  }

.guia-contenido {
    max-width: 800px;
    margin: 0 auto;
    background-color: #cacaca;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.seccion {
    margin-bottom: 20px;
}

ul {
    margin-left: 20px;
    list-style-type: disc;
}

ul li {
    margin-bottom: 8px;
    font-size: 16px;
}

ul li ul {
    list-style-type: circle;
}

ul li ul li {
    font-size: 15px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    ul li {
        font-size: 14px;
    }
}


.btn-primary, .btn-secondary {
    padding: 10px 20px;
    font-size: 16px;
}