<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienestar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./js/preferencias.js"></script>
    <link href="./bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container py-4">

        <div class="top-bar">
            <a href="/gestionarHabitos" class="back-arrow">&lsaquo;</a>
            <h1>Gestionar Hábitos de Bienestar</h1>
        </div>
        
        <div class="separator my-3"></div>
        
        <div class="grid habitos">
            <div class="option-1">
                <img src="../img/gestorhabitos/dormir.png" alt="movimiento_corporal" />
                <span>Hora de dormir</span>
                <button onclick="event.stopPropagation(); location.href='/horasdeDormir';" class="plus-button">+</button>
            </div>
            <div class="option-1">
                <img src="../img/gestorhabitos/sintelefono.png" alt="Bienestar" />
                <span>Desintoxicación digital</span>
                <button onclick="event.stopPropagation(); location.href='bienestar2.html';" class="plus-button">+</button>
            </div>
            <div class="option-1">
                <img src="../img/gestorhabitos/piel.png" alt="Mentales" />
                <span>Cuidado de la piel</span>
                <button onclick="event.stopPropagation(); location.href='bienestar3.html';" class="plus-button">+</button>
            </div>
            <div class="option-1">
                <img src="../img/gestorhabitos/alimentacion.png" alt="Mentales" />
                <span>Alimentación</span>
                <button onclick="event.stopPropagation(); location.href='/alimentacion';" class="plus-button">+</button>
            </div>
        </div>
    </div>
</body>
</html>
