<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eliminar cuenta</title>
  <link href="../bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container py-4">
        <div class="top-bar"> 
            <a href="/inicio" class="back-arrow">&lsaquo;</a>
            <h1 class="mx-auto actualizar">Eliminar cuenta</h1>
        </div>

        <div class="texto-eliminar">
            <p>¿Estas seguro que deseas eliminar tu cuenta?</p>
            <p>Esta acción es permanente y no se puede deshacer. Toda tu información y datos serán eliminados.</p>
        </div>
        <div class="separator my-3"></div>
        
        <div class="container-md botones-eliminar">
            <button type="button" class="btn-primary" onclick="location.href='/eliminarcuenta1';">Continuar</button>
            <button type="button" class="btn-secondary" onclick="window.history.back()">Cancelar</button>
            
        </div>
    </div>

</body>
</html>
