<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Progreso y Estadisticas</title>
</head>

<body>
    <div class="container mt-5 pt-2">

        <div class="top-bar">
            <a href="/inicio" class="back-arrow">&lsaquo;</a>
            <h1 class="mx-auto">Conoce tu progreso</h1>
        </div>

        <div class="progress-indicator">
            <div class="step active">1</div>
            <div class="arrow">&rarr;</div>
            <div class="step">2</div>
            <div class="arrow">&rarr;</div>
            <div class="step">3</div>
            <div class="arrow">&rarr;</div>
            <div class="step">4</div>
        </div>

        <h2 class="section-title">Elige un hábito</h2>



        <div class="habits-grid">
            <div class="habit-item">
                <a href="pagina_mas.html" class="habit-link">
                    <div class="habit-icon">
                        <img src="../img/progreso/estiramientos1.png" alt="Icono Ejercicio físico">
                    </div>
                    <div class="habit-label">Estiramientos matutinos</div>
                </a>
            </div>
            <div class="habit-item">
                <a href="#" class="habit-link">
                    <div class="habit-icon">
                        <img src="../img/progreso/corriendo2.png" alt="Icono Caminar">
                    </div>
                    <div class="habit-label">Correr</div>
                </a>
            </div>
            <div class="habit-item">
                <a href="pagina_mas.html" class="habit-link">
                    <div class="habit-icon">
                        <img src="../img/progreso/bicicleta3.png" alt="Icono Practicar un deporte">
                    </div>
                    <div class="habit-label">Andar en bicicleta</div>
                </a>
            </div>
            <div class="habit-item">
                <a href="pagina_mas.html" class="habit-link">
                    <div class="habit-icon">
                        <img src="../img/progreso/cuerda4.png" alt="Icono Meditación">
                    </div>
                    <div class="habit-label">Saltar la cuerda</div>
                </a>
            </div>
            <div class="habit-item">
                <a href="pagina_mas.html" class="habit-link">
                    <div class="habit-icon">
                        <img src="../img/progreso/dormir5.png" alt="Icono Alimentación saludable">
                    </div>
                    <div class="habit-label">Hora de dormir</div>
                </a>
            </div>
            <div class="habit-item">
                <a href="pagina_mas.html" class="habit-link">
                    <div class="habit-icon">
                        <img src="../img/progreso/desintoxicacion6.png" alt="Icono Hábitos de estudio">
                    </div>
                    <div class="habit-label">Desintoxicación digital</div>
                </a>
            </div>
            <div class="habit-item">
                <a href="pagina_mas.html" class="habit-link">
                    <div class="habit-icon">
                        <img src="../img/progreso/piel7.png" alt="Icono Sueño">
                    </div>
                    <div class="habit-label">Cuidado de la piel</div>
                </a>
            </div>
            <div class="habit-item">
                <a href="pagina_mas.html" class="habit-link">
                    <div class="habit-icon">
                        <img src="../img/progreso/alimentacion8.png" alt="Icono Lectura">
                    </div>
                    <div class="habit-label">Alimentación</div>
                </a>
            </div>
            <div class="habit-item">
                <a href="pagina_mas.html" class="habit-link">
                    <div class="habit-icon">
                        <img src="../img/progreso/ordenar9.png" alt="Icono Más hábitos">
                    </div>
                    <div class="habit-label">Ordenar espacio personal</div>
                </a>
            </div>
            <div class="habit-item">
                <a href="pagina_mas.html" class="habit-link">
                    <div class="habit-icon">
                        <img src="../img/progreso/lectura10.png" alt="Icono Más hábitos">
                    </div>
                    <div class="habit-label">Lectura</div>
                </a>
            </div>
            <div class="habit-item">
                <a href="pagina_mas.html" class="habit-link">
                    <div class="habit-icon">
                        <img src="../img/progreso/meditacion11.png" alt="Icono Más hábitos">
                    </div>
                    <div class="habit-label">Meditación</div>
                </a>
            </div>
            <div class="habit-item">
                <a href="pagina_mas.html" class="habit-link">
                    <div class="habit-icon">
                        <img src="../img/progreso/escucharmusica12.png" alt="Icono Más hábitos">
                    </div>
                    <div class="habit-label">Escuchar música relajante</div>
                </a>
            </div>
        </div>

        <!--
    <button class="btn btn-secondary w-100 btn-continue">Continuar</button>
-->

    </div>

    <script src="../bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
    <script src="../js/estadisticas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



</body>

</html>