<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Estiramientos Matutinos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pikaday/plugins/pikaday.es.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="/css/styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/estiramientos.js"></script>
</head>
<body>
    <div class="container py-4">
        <div class="top-bar">
            <a href="/gestionarHabitos" class="back-arrow">&lsaquo;</a>
            <h1 class="texto-principal">Estiramientos Matutinos</h1>
        </div>

        <div class="separator my-2"></div>
        <div class="titulo-habito" id="tabs">
            <img src="/img/gestorhabitos/estiramiento.png" alt="Correr">
            
            <div class="iconos">
                <i class="fas fa-edit iconos-habitos" style="cursor: pointer;" onclick="location.href='/gestionarestiramientos';"></i>
                <i class="fas fa-trash-alt iconos-habitos" onclick="confirmarEliminacion('Estiramientos Matutinos')" style="cursor: pointer;"></i>
            </div>
        </div>

        <div>
            <h2>Graficas</h2>
        </div>

        <div class="grid-opciones">
            <div class="option active texto-principal" data-tab="u-semana">
                <span>Última</span>
                <span>semana</span>
            </div>
            <div class="option texto-principal" data-tab="u-mes">
                <span>Último</span>
                <span>mes</span>
            </div>
        </div>

        <div class="grid grafica" id="grafica">
            <div class="tab-pane active" id="u-semana">
                <h2 class="texto-principal">Última semana</h2>
                <canvas id="graficaSemana"></canvas>
            </div>
            <div class="tab-pane d-none" id="u-mes">
                <h2 class="texto-principal">Último mes</h2>
                <canvas id="graficaMes"></canvas>
            </div>
        </div>
        <div class="grid calendario">
            <div class="text-center">
                <h2 class="texto-principal">Calendario</h2>
                <p id="tituloMes" class="mb-3 texto-principal"></p>
                <div id="calendarioHabito" class="calendario-grid mx-auto"></div>
            </div>
        </div>
        

        <div class="grid">
            <div class="titulo-info">
                <i class="fa-solid fa-circle-info iconos-habitos"></i>
                <h5 class="texto-principal">Informacion</h5>
            </div>
            <div class="informacion texto-principal">
                <p>Sobre los estiramientos...</p>
                <p>Son una práctica saludable que puede mejorar tu bienestar físico y mental. Estos ejercicios pueden ayudarte a:</p>
                <p>-La flexibilidad</p>
                <p>-Reducir la rigidez muscular</p>
                <p>-Aumentar la circulación sanguínea</p>
                <p>-Reducir el estrés</p>
                <p>Al incorporar este simple ejercicio a tu rutina diaria, puedes despertar tu cuerpo y prepararte mentalmente para enfrentar cualquier desafío que se te presente.</p>
            </div>
        </div>
    </div>
</body>
</html>