<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Falta de tiempo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="../bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container py-4">
        <div class="top-bar">
            <a href="/eliminarcuenta1" class="back-arrow">&lsaquo;</a>
            <h1 class="mx-auto actualizar">Falta de tiempo</h1>
        </div>
        <div class="texto-eliminar">
            <p>
                Entendemos que estás pasando por un momento cargado y quizás no tienes el espacio mental para enfocarte en tus hábitos ahora mismo. ¡Y eso está bien! <br><br>
                En Fin It creemos que cada quien tiene su propio ritmo, y queremos darte alternativas que se ajusten a tu momento actual. <br><br>
                Si necesitas un descanso, puedes simplemente eliminar la app de tu teléfono. Así, dejarás de recibir notificaciones, pero tu progreso y datos estarán seguros para cuando decidas volver.<br>
    
            </p>
            <ul>
                <p>¿Cómo eliminar la app?</p>
                <li>1. Busca la app de Fin It en tu dispositivo.</li><br>
                <li>2. Mantén presionado el ícono por unos segundos.</li><br>
                <li>3. Cuando veas que los íconos tiemblan, toca la "X".</li><br>
                <li>4. Confirma que deseas eliminar la app.</li>
            </ul>
            <p>
                Tus datos seguirán guardados de forma segura y no recibirás más notificaciones.
                Podrás reactivar tu cuenta en cualquier momento simplemente reingresando a Fin It.
            </p>
        </div>
    </div>
</body>
</html>