<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Notificaciones</title>
</head>

<body>
    <div class="container mt-5 pt-2">
        <div class="top-bar">
            <a href="/inicio" class="back-arrow">&lsaquo;</a>
        </div>

        <div class="container-md pt-2">
            <h1>Notificaciones</h1>
            <div class="habit-card mt-4" id="seccion-de-notificaciones">
                <p>Hmm, no hay ninguna notificación por el momento.</p>
            </div>

        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="../bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>