<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Privacidad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="../bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container py-4">
        <div class="top-bar">
            <a href="javascript:history.back()" class="back-arrow">&lsaquo;</a>
            <h1 class="mx-auto actualizar">Privacidad en Fin It</h1>
        </div>

        <div class="texto-eliminar mx-2">

            <p>En Fin It, la privacidad y seguridad de tu información son nuestra mayor prioridad.<br><br>

                Tus datos son utilizados exclusivamente para brindarte recomendaciones personalizadas y ayudarte a alcanzar tus metas de salud. Nunca los compartimos con terceros ni los usamos con fines comerciales.<br><br>
                
                Contamos con medidas estrictas de protección de datos, y tú tienes el control total sobre lo que decides compartir y por cuánto tiempo.
            </p>
        </div>
    </div>
</body>
</html>