<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/styles.css" rel="stylesheet" />
    <title>Registro Fin It</title>
</head>

<body>
    <div class="login_wrapper">
        <div class="hero-img">
            <img src="/img/finit1.png" class="img" alt="Fin It" />
        </div>
    <div class="container-md login-card">
        <div class="login-box w-100">
            <div class="wrapp">
                <header class="text-center ">
                    <div class="container_logo">
                        <!-- <img src="/img/fin_negro.png" class="img" alt="Logo Fin" />
                        <img src="/img/negro.png" class="img" alt="Fin It" /> -->
                    </div>
                </header>

                <main>
                    <h2 class="text-center mb-4">Registrarse</h2>
                        <form id="formRegistro" autocomplete="off" action="/api/auth/register" method="POST">
                            <!-- Usuario -->
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre de usuario:</label>
                                <input type="text" class="form-control" id="userName" name="userName"
                                    placeholder="Ingresa tu usuario" />
                            </div>

                            <!-- Correo -->
                            <div class="mb-3">
                                <label for="correo" class="form-label">Correo electrónico:</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="Ingresa tu correo" />
                            </div>

                            <!-- Contraseña -->
                            <div class="mb-3">
                                <label for="contrasena" class="form-label">Contraseña:</label>
                                <div class="d-block">
                                    <input type="password" class="form-control me-2" id="password" name="password"
                                        placeholder="Ingresa tu contraseña" />
                                </div>
                            </div>

                            <!-- Confirmar contraseña -->
                            <div class="mb-3">
                                <label for="confirmarContrasena" class="form-label">Confirmar contraseña:</label>
                                <div class="d-block">
                                    <input type="password" class="form-control me-2" id="confirmarContrasena"
                                        name="confirmarContrasena" placeholder="Confirma tu contraseña" />
                                </div>
                            </div>

                            <!-- Términos -->
                            <div class="form-check mb-3">
                                <input class="check" type="checkbox" id="terminosCheck" />
                                <label class="form-check-label" for="terminosCheck">
                                    Aceptar <a href="/terminosyCondiciones">términos y condiciones</a>
                                </label>
                            </div>

                            <!-- Botones -->
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn-primary">Registrarse</button>
                                <button type="button" class="btn-secondary" id="btn-cancelar" onclick="history.back()">Cancelar</button>
                            </div>
                        </form>

                        <p class="text-end mt-2">
                            ¿Ya tienes cuenta? <a href="/">Inicia sesión</a>
                        </p>
                </main>
            </div>
        </div>
    </div>
    <script src="/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
    <script src="/js/registro.js"></script>
    <script src="/js/flashMessage.js"></script>

</body>

</html>
