<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Terminos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="../bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container py-4">
        <div class="top-bar">
            <a href="/" class="back-arrow">&lsaquo;</a>
            <h1 class="mx-auto">Términos y Condiciones</h1>
        </div>
        <p>Bienvenido a Fin It. Al utilizar esta aplicación, aceptas cumplir con los presentes Términos y Condiciones:</p>
        <ul>
            <li>El uso de Fin It es personal y está destinado a ayudarte a alcanzar tus objetivos de bienestar.</li>
            <li>Nos comprometemos a proteger tu información, siguiendo nuestra Política de Privacidad.</li>
            <li>No compartimos tus datos personales con terceros con fines comerciales.</li>
            <li>Nos reservamos el derecho de actualizar estos Términos en cualquier momento. Te notificaremos sobre cambios importantes.</li>
            <li>Puedes cancelar tu cuenta en cualquier momento desde la configuración de la app.</li>
            <li>El uso indebido de la aplicación puede resultar en la suspensión o cancelación de tu cuenta.</li>
        </ul>

        <p>Consulta el documento completo <a href="https://temp-mail.org/es/">solicitándolo a nuestro correo de soporte</a>.</p>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="aceptar">
            <label class="form-check-label" for="op2">Acepto</label>
        </div>

        <div class="container-md botones-eliminar">
            <button type="button" class="btn-primary" onclick="location.href='/';">Continuar</button>
            <button type="button" class="btn-secondary" onclick="window.history.back()">Cancelar</button>
        </div>
    </div>
</body>
</html>
